<a href="https://colab.research.google.com/github/rcoroneldev/Machine-Learning-CreditScore/blob/main/CreditScore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Arrays / Lineal Algebra
import numpy as np

# Dataframes
import pandas as pd

# Para montar drive
from google.colab import drive

In [6]:
# Montamos drive
drive.mount('/content/drive', force_remount=True) # Montamos nuestra unidad de Google Drive

Mounted at /content/drive

In [11]:
# Lectura mediante Google drive
path = '/content/drive/MyDrive/Master en Data Science/Machine Learning/Credit-Score Project/data/credit_Risk.csv'
#df_credit = pd.read_excel(path)
df_credit = pd.read_csv(path,sep =';')

In [12]:
df_credit.head(2)

   ID  PRCT_USO_TC  EDAD  ...  NRO_RETRASO_UTM_3A  NRO_DEPENDIENTE  DEFAULT
0   1     0.766127    45  ...                   0              2.0        1
1   2     0.957151    40  ...                   0              1.0        0

[2 rows x 12 columns]